#map {
  height: 100vh;
}

.map__marker {
  margin: 0px;
  background-color: white;
  padding: 1px;
  border-radius: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  border: 1px solid rgba(131, 31, 125, 0.82);
}
