.body {
  background-color: #e3e1e8;
}

.body__category {
  border-radius: 0px;
  margin: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.body__category:hover {
  border-bottom: 3px solid #717bff;
}

.body__button {
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #717bff;
}
