@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .body__content {
    margin-top: 5%;
  }
}

@media (min-width: 1400px) {
  .body__content {
    margin-top: 9%;
  }
}

.body .container {
  width: 100%;
}

.body__category {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  p:first-letter {
    font-weight: bold;
    font-size: 20px;
  }
}

.body__button {
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #717bff;
}
