.header {
  background-color: #6d6169;
  margin-bottom: 0px;
  border-radius: 0px;
}

.header {
  a {
    color: white;
    text-decoration: none;
  }
}

.header__bar {
  margin-top: 10px;
  a:hover {
    text-decoration: underline;
  }
}
