.header {
  margin-bottom: -1%;
  background-color: #717bff;
}

.header {
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    background-color: #717bff;
  }
}


.header__bar {
  border-bottom: none;
  li:hover {
    color:green;
    background-color: white;
  }
}
