# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 568443ab093878cc2bc2416e0e2e2b0ad59fcfbfc0ee41e8777cdefa2a3dd604d8fd7ddeaa70f1dc04b6811e5118caa10c5d5e8160bd5779d1318227da91d127

test:
  secret_key_base: 00dcd6b53801f45e09323927866f46f15f52c71b7b7dc9e0e18c3a9c8a111e6b830fc63782eb9779a1f831e74945ad8dc2ca88281597f4723b79138fae66bf2b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
